{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>A New Home</h1>
    <p class="lead">A New Home is a free web app that helps students from the University of Puerto Rico Mayagüez get a spot on the classes they want to take.</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Sign up to A New Home today to let UPRM know what classes you want to take.
        </p>
        <p><a class="btn btn-default" href="{{ url_for('register') }}">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Already have an account?</h2>
        <p>Log in to see the classes you have selected for next semester.</p>
        <p><a class="btn btn-default" href="{{ url_for('login') }}">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
